# Vis

In [2]:
import pandas as pd

In [3]:
flipkart = pd.read_csv('flipkart_apple.csv')
flipkart

                                                 title      price
0                       APPLE iPhone 11 (White, 64 GB)    ₹46,999
1                       APPLE iPhone 11 (Black, 64 GB)    ₹46,999
2                     APPLE iPhone 11 (Purple, 128 GB)    ₹54,900
3                     APPLE iPhone 12 (Purple, 256 GB)    ₹74,999
4                        APPLE iPhone 11 (Red, 128 GB)    ₹54,900
..                                                 ...        ...
235  Apple iPhone XR (White, 128 GB) (Includes EarP...    ₹44,999
236                     APPLE iPhone XR (White, 64 GB)    ₹40,359
237             APPLE iPhone 12 Pro (Graphite, 128 GB)  ₹1,09,900
238      APPLE iPhone SE (3rd Gen) (Starlight, 256 GB)    ₹56,900
239                      APPLE iPhone 7 (Black, 32 GB)    ₹25,099

[240 rows x 2 columns]